[Unit]
Description=Hexascroller
After=syslog.target

[Service]
WorkingDirectory=/home/pi/Hexascroller/hexaservice
ExecStart=/usr/bin/python2 ./service.py
Restart=always

[Install]
WantedBy=multi-user.target
