[Unit]
Description=Hexascroller
After=syslog.target

[Service]
Environment=MQTT_BROKER=homeassistant.local
Environment=MQTT_USER=mqttbroker
Environment=MQTT_PASS=None
WorkingDirectory=/home/pi/Hexascroller/hexaservice
ExecStart=/usr/bin/python3 ./service.py
Restart=always

[Install]
WantedBy=multi-user.target
